<form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text" minlength="3" ngModel name="name" #name="ngModel" id="name" class="form-control" required>
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name.errors.required">Name field is required.</div>
            <div *ngIf="name.errors.minlength">Minimum length required is {{name.errors.minlength.requiredLength}}.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="" ngModel name="category" #category="ngModel" id="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories" [value]="c.id">
                {{c.name}}
            </option>
        </select>
        <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
            <div *ngIf="category.errors.required">Category field is required.</div>
        </div>
        <div class="checkbox">
            <label for="moneyBackGuarantee">
                <input type="checkbox" ngModel name="hasMoneyBackGuarantee" id="moneyBackGuarantee" required>
                30-day money back guarantee
            </label>
        </div>
    </div>
    <p>{{f.value | json }}</p>
    <button [disabled]="f.invalid" class="btn btn-primary">Create</button>
</form>